doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet",href="/css/main.css")
        block styles 
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/", class=(path === '/' ? 'active' : '')) Lojita
                    li.main-header__item
                        a(href="/products", class=(path === '/products' ? 'active' : '')) Produtitos
                    li.main-header__item
                        a(href="/cart", class=(path === '/cart' ? 'active' : '')) Carrito
                    li.main-header__item
                        a(href="/admin/add-product", class=(path === '/admin/add-product' ? 'active' : '')) Add Produtito 
                    li.main-header__item
                        a(href="/admin/admin-products", class=(path === '/admin/admin-products' ? 'active' : '')) Admin Produtito
                    
        block content