doctype html

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body  
        header.main-header 
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Lojita 
                    li.main-header__item
                        a(href="/admin/add-product") Add Produtito 
        main  
            if prods.length > 0 
                .grid
                    each product in prods
                        article.card.product-item
                            header.card__header
                                h1.product__title #{product.title}
                            div.card__image
                                img(src="https://images-na.ssl-images-amazon.com/images/I/61JerIqX15L.jpg", alt="Ô livro") 
                            div.card__content
                                h2.product__price $19.99
                                p.product__description Esse livro é sobre um livro que não sabia que era livro, ele leu um livro e viu que era um livro.
                            .card__actions
                                button.btn Add to Cartito
            else 
                h1 No produtito 4 u